/*GENERAL*/
*	{
  width : 100%;
  /*height: 100%;*/
  padding : 0;
  margin:  0;
  box-sizing: border-box;

}

body {
  background-color: white;
  height: inherit;
  z-index: 1;
}

.background-one {
  /*background-image: url("img/orchid-blur.jpg");
  background-size: 100%;
  background-repeat: no-repeat;*/
  height: 100%;
  position: absolute;
  opacity: 0.4;
  z-index: 2;
}

.tab-content {
  margin-top: 10%;
  margin-bottom: 10%;
  height: 70%;
  position: fixed;
  opacity: 1;
  z-index: 4;
}

h2 {
  height: 20%;
  padding: 1%;
  text-align: center;
  font-size: 30px;
  color: black;
}

/*SECTION -- HOMEPAGE*/

#homepage {
  background-image: url("img/orchid.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

h3 {
  height: 20%;
  padding: 1%;
  text-align: center;
  font-size: 15px;
  color: white;
}

h1 {
  height:60%;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  font-family: 'Miss Fajardose', cursive;
  font-size: 130px;
  color: white;
}



/*SECTION -- ABOUT ME*/
section#about-me p {
  height: 85%;
  color: black;
  line-height: 1em;
  word-spacing: 0.5em;
}


/*SECTION -- all LABS*/

div#lab-images h1 {
  font-size: 30px;
}

.fa-search-plus {
  width:20px;
  height:20px;
}

/*SECTION -- CONTACTS*/

section#contact {
  text-align: center;
}

section#contact img {
  width: 60px;
  height: 60px;

}


/*NAV BAR*/

.tab-nav {
  height: 20%;
}

li {
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  font-size: 15px;
  color: white;
  list-style-type: none;
  display: inline;
}

nav a:link {
  color: white;
  text-decoration: none;
}

nav a:visited {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: white;
  text-decoration: none;
}

nav a:active {
  color: white;
  text-decoration: none;
}
